@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button:focus {
		@apply outline-none;
	}

	input[type="range"]::-webkit-slider-thumb {
		width: 12px;
		-webkit-appearance: none;
		  appearance: none;
		height: 12px;
		cursor: ew-resize;
		background: #FFF;
		box-shadow: -405px 0 0 400px rgba(99, 102, 241, var(--tw-bg-opacity));
		border-radius: 50%;
		
	}
}